
  <% if !@ids.nil? %>
  <div class="card-columns">
    <% @ids.each do |id| %>

    <div class="card text-dark bg-light mb-3" style="min-width: 15rem;" >
      <a href="https://www.themoviedb.org/movie/<%= id %>" id="header-btn" target="_blank" class="btn btn-lg btn-block btn-light">
        <% if !@posters[@ids.index(id)].nil? %>
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w640/<%= @posters[@ids.index(id)] %>" alt="<%= @titles[@ids.index(id)] %>">
        <% else %>
        <!-- <div class="card-header text-white bg-dark text-center">
          <h1>NO POSTER</h1>
        </div> -->
        <% end %>

        <div class="card-header text-center">
          <h4 class="text-truncate">
            <%= @titles[@ids.index(id)] %>
          </h4>
        </div>
      </a>

      <div class="card-body">

        <div class="card-title text-muted text-center">
          (<%= @years[@ids.index(id)] %>)
        </div>
        <p class="card-text">
          <%= @overviews[@ids.index(id)] %>
        </p>

      </div>

    </div>

    <% end %>
  </div>
  <% else %>
  <div class="card text-center">
    <div class="card-header">
      <% if @ids.nil? && !@movies[0].nil? %>
        <h2><%= @movies[0] %></h2>
      <% else %>
        <h2>No movies found.</h2>
      <% end %>
    </div>
  </div>
  <% end %>
